@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0%;
    gap: 0px;
}
body {
    padding: 50px;
    background-color: #e8eaee;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
   
}
.conteiner-1-ALL {
    width: 100%;
    height: auto;
    background-color: #f7f7f7 ;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}
.nav-bar-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 30px;
}

.button-nav {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    height: 32px;
    width: 80px;
    border-radius: 20px;
    font-family: "Poppins";
    font-weight: 600;
}

.button-1 {
  background-color: #ffffff;
  border: solid 1px #e0e0e0;
}

.button-2 {
  background-color:  #544cf2;
  border: solid 1px #3c35cc;
  color: #e0e0e0;
}

.tex-destaque {
    font-size: 50px;
}

.dps {
    display: flex;
    gap: 5px;
}

.primary-img-1 {
    border-radius:  30px 0px 0px;
    padding:7px;
}

.primary-img-2 {
    border-radius:  0px 30px 0px 00px; /* top-left, top-right, bottom-right, bottom-left */
    padding: 7px;
}
.primary-img-3 {
    border-radius:  0px 0px 0px 30px; /* top-left, top-right, bottom-right, bottom-left */
    padding: 7px;
}

.imgs-1 {
    display: flex;
    gap: 7px;
    flex-direction: column;
    
}

.imgs-2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
    
}

.sub-conteiner-1 {
    background-color: #d2d7e0;
    width: 250px;
    height: 100px;
    display: flex;
    align-items: flex-end;
    border-radius: 0px 0px 30px 0px;
    gap: 10px;
    padding: 3px;
}

.essentias {
    padding: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-1 {
    align-items: center;
    justify-content: center;

}

.button-3 {
  background-color: #3c35cc;
  color: #e0e0e0;
  border: solid 1px;
  width: 150px;
  font-weight: 400;
  height: 40px;
}

.button-4 {
  background-color:  #ffffff;
  border: solid 1px #00000023;
  color: #000000;
  width: 150px;
  font-weight: 400;
  height: 40px;
}



.dps {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.espacamento {
    width: 10%;
}

.colunado-1 {
    display: flex;
    gap: 10px;
}

/* Adicione ao seu arquivo style.css */
.contet-1 {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 20px;
}

.colunado-1, .colunado-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.colunado-1 img, .colunado-2 img {
    margin-bottom: 8px;
}

.subtitle {
    color: #888;
    font-size: 14px;
    margin-top: 4px;
}

.end-footer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 200;
}

.seila {
    padding: 50px;
    gap: 10px;
}

.page-2 {
    background-color: #ffffff;
}

.nav-bar-3 {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-around;
}


.img-footer-2 {
    display: flex;
    align-items: center;
  
}

.size-image-nav-3 {
    object-fit: contain;
    width: 140px;
    height: 50px;
}

.classfi-1 {
    background-color: #544cf2;
    color: #d2d7e0;
    padding: 0px;
    gap: 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    border-radius: 50px 0px 50px 0px;
}

.blocks-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    .text-size {
            font-size: 60px;
            font-weight: 700;
            color: #d2d7e0;
    }
}

.sub-page-1 {
    padding: 40px;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-page-2 {
   gap: 10px;
   padding: 20px;
}

.celular {
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}


.img-celular {
    object-fit: contain;
    width: 400px;
}

.alinhamento-1 {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 150px;
    
}
.Grafics {
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: right;
    background-color: #ffffff;
    gap: 0px;
    
    
    
    .grafics-img-1 {
        border-radius: 20px;
        box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.171);
    }

    .alinhamento-1-icon {
        display: flex;
        width: 100%;
        justify-content: flex-end;

    }
}

    .saldo {
        gap: 10px;
        padding: 10px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        flex-direction: column;
    }

    .block-2 {
        background-color: #f5f2f2;
        border-radius: 20px;
        width: 240px;
        height: 400px;
    }

    .fake-buttom-1 {
        background-color:#544cf2;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 45px;
        border: solid 1px rgba(0, 0, 0, 0.103);
        color: #ffffff;
        font-weight: 100;
        width: 90%;
    }
    .fake-buttom-2 {
        background-color: #ffffff;
        border-radius: 30px;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 45px;
        border: solid 1px rgba(0, 0, 0, 0.103);
        font-weight: 100;
        width: 90%;
    }

    .alinhamento-buttom-fake-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .space-btw-1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 15px;
    }
    .teste {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding: 10px;
        font-size: 46px;
    }

        .alinhamento-sub-page-1 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            
        }

        .second-page {
            background-color: #888;
        }
        .alinhamento-second-page-1 {
            align-items: center;
            display: flex;
            justify-content: flex-end;
            gap: 25px;
        }
        .price-1 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            border: solid black;
            width: 250px;
            height: 450px;
            border-radius: 34px;
            background-color: #ffffff;
        }
        .price-2 {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 250px;
            height: 450px;
            border-radius: 34px;
            background: linear-gradient(180deg, #36349A 0%,#2C2B71 35%, #25273E 70%, #3F4155 100%);
            color: #ffffff;
            border: none;
            box-shadow: 0 8px 20px rgba(84,76,242,0.18);
        }